<div class="container row">
    <div class="col">
        <img src="assets/img/404.jpeg" alt="Imagen de error 404">
    </div>
    <div class="col text center">
        <h3>¡Oh no! Parece que te has perdido en nuestra cocina. 🌿🍴</h3>
        <p>No encontramos la página que buscas, pero no te preocupes, estamos aquí para ayudarte a encontrar el camino de vuelta a la comida deliciosa y saludable. ¡Haz clic aquí para regresar al menú principal y seguir disfrutando!</p>
        <button class="btn btn-secondary" style="color: white;" routerLink="/home">Inicio</button>
    </div>
</div>