footer {
    background-color: black;
    color: white;
    padding: 20px 30px !important;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #8076F5;
}

i {
    margin: 5px;
}

.politics {
    border-top: 0.2px solid #464646;
    padding: 20px 30px;
    margin-bottom: 30px;
}

ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    p{
        font-size: 1.2em;
        margin: 15px;
    }
}

.top {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin-bottom: 30px;
}

.socials {
    display: flex;
    flex-wrap: nowrap;
}