footer {
    background-color: black;
    color: white;
    padding: 20px 30px !important;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

i {
    margin: 5px;
}