<footer class="footer mt-auto py-3 bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-left socials">
                <a href="#"><i class="fab fa-instagram fa-2xl" style="color: #ffffff;"></i></a>
                <a href="#"><i class="fab fa-facebook-f fa-2xl"  style="color: #ffffff;"></i></a>
            </div>

            <div class="col">
                <ul class="list-unstyled politics text-end">
                    <li><a href="#">Política de privacidad</a></li>
                    <li><a href="#">Política de cookies</a></li>
                    <li><a href="#">Condiciones de compra</a></li>
                    <li><a href="#">Condiciones de uso</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col text-center">
            <p>&copy; 2024 Deriva</p>
        </div>
    </div>
</footer>