
<div class="container-fluid">
    <div class="blur">
        <h4 class="text-center">Selecciona tu ciudad</h4>

        <form class="container-sm" [formGroup]="deliveryForm" (ngSubmit)="onSubmit()">
            <!--<div class="form-floating mb-3">
                <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nombre y apellidos">
                <label for="name">Nombre y apellidos</label>
                <div class="invalid-feedback" *ngIf="deliveryForm.controls['name'].touched && deliveryForm.controls['name'].invalid">
                    <div *ngIf="deliveryForm.controls['name'].errors?.['required']">El nombre es obligatorio</div>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="address" formControlName="address" placeholder="Dirección">
                <label for="address">Dirección</label>
                <div class="invalid-feedback" *ngIf="deliveryForm.controls['address'].touched && deliveryForm.controls['address'].invalid">
                    <div *ngIf="deliveryForm.controls['address'].errors?.['required']">La dirección es obligatoria</div>
                </div>
            </div>-->
            <div class="row">
                <div class="form mb-3 col">
                    <select class="form-select form-control" id="province" formControlName="province" (change)="onProvinceChange($event)">
                        <option value="" disabled selected>Selecciona una provincia</option>
                        <option *ngFor="let province of provinces" [value]="province">{{province}}</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="deliveryForm.controls['province'].touched && deliveryForm.controls['province'].invalid">
                        <div *ngIf="deliveryForm.controls['province'].errors?.['required']">La provincia es obligatoria</div>
                    </div>
                </div>
        
                <div class="form mb-3 col">
                    <select class="form-select form-control" id="city" formControlName="city" [disabled]="!selectedProvince">
                        <option value="" disabled selected>Selecciona una ciudad</option>
                        <option *ngFor="let city of cities" [value]="city">{{city}}</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="deliveryForm.controls['city'].touched && deliveryForm.controls['city'].invalid">
                        <div *ngIf="deliveryForm.controls['city'].errors?.['required']">La ciudad es obligatoria</div>
                    </div>
                </div>
            </div>
            
            <!--
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="Teléfono">
                <label for="phone">Teléfono</label>
                <div class="invalid-feedback" *ngIf="deliveryForm.controls['phone'].touched && deliveryForm.controls['phone'].invalid">
                    <div *ngIf="deliveryForm.controls['phone'].errors?.['required']">El teléfono es obligatorio</div>
                    <div *ngIf="deliveryForm.controls['phone'].errors?.['pattern']">El teléfono no es válido</div>
                </div>
            </div>-->
            <div class="actions text-end">
                <button type="submit" class="btn btn-secondary" style="color: white;" [disabled]="deliveryForm.invalid">Empezar pedido</button>
            </div>
        </form>
        
        <h5 class="text-center">Si todavía no estamos en tu ciudad, ¡estate atento! Pronto llegaremos.</h5>
    </div>
</div>
