<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a data-bs-toggle="offcanvas" href="#offcanvas" role="button" aria-controls="offcanvasExample">
        <button class="no-border" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon"></span>
        </button>
    </a>
    
    <a class="navbar-brand mx-auto" routerLink="/home"><img src="assets/img/logo.png" id="logo" alt="Logo Deriva"></a>

    <button class="btn btn-primary navbar-btn" routerLink="/login" *ngIf="!isLogged()">Iniciar sesión</button>
    <button class="btn btn-primary navbar-btn" routerLink="/menu/order" *ngIf="isLogged()">Pedir</button>
</nav>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvas" #offcanvas> 
    <div class="offcanvas-header">
      <h5 class="offcanvas-title text-center" id="offcanvasExampleLabel">Menú</h5>
      <button type="button" class="btn-close no-border" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <p>
                <a routerLink="/menu/see" data-bs-dismiss="offcanvas" class="offcanvas-link">Carta</a> <!--(click)="changeActive(0); hideOffCanvas()"-->
            </p>
            <p>
                <a routerLink="/my-orders" data-bs-dismiss="offcanvas" class="offcanvas-link">Mis pedidos</a> <!--(click)="changeActive(1); hideOffCanvas()"-->
            </p>
            <p>
                <a (click)="showData()" data-bs-dismiss="offcanvas" class="offcanvas-link">Mis datos</a> <!--(click)="changeActive(0); hideOffCanvas()"-->

                <!--<a routerLink="/contact-page" data-bs-dismiss="offcanvas" class="offcanvas-link">Contacto</a> <!--(click)="changeActive(1); hideOffCanvas()"-->
            </p>
        </div>

        <div class="buttons">
            <button class="btn btn-primary" routerLink="/admin-panel" data-bs-dismiss="offcanvas" >Administración</button>
            <button class="btn btn-primary" routerLink="/employee-area" data-bs-dismiss="offcanvas" >Pedidos</button>
            <button class="btn btn-primary" routerLink="/login" data-bs-dismiss="offcanvas" *ngIf="!isLogged()">Iniciar sesión</button>
            <button class="btn btn-primary" routerLink="/menu/order" data-bs-dismiss="offcanvas" *ngIf="isLogged()">Pedir</button>
            <button class="btn btn-outline-primary" (click)="logOut()" data-bs-dismiss="offcanvas" *ngIf="isLogged()">Cerrar Sesión</button>
        </div>
    </div>
</div>

