.navbar {
    background-color: #FFFFFF !important;
    padding: 15px !important;
    border-bottom: 1px solid #000000;
    margin: 0 1em;

}

img {
    width: 180px;
    height: auto;
    position: absolute;
    top: 10px;
}

.no-border {
    width: min-content !important;
    background-color: transparent;
    border: none;
}

.offcanvas {
    padding: 1em 2em;
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
        width: 100% !important;
        margin: 0.5em;

    }
}

.offcanvas-link {
    color: #000000;
    text-decoration: none;
}

.offcanvas-link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 992px) {
    img {
        width: 120px;
        left: 70px;
        top: 5px;
    }

    .login {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    img {
        width: 120px;
        left: 70px;
        top: 5px;
    }

    .navbar-btn {
        display: none;
    }
}
