
<div class="container">
    <h1>
        Política de cookies
    </h1>
    
    <h2>
        1. Introducción
    </h2>
    <p>
        Nuestro sitio web utiliza cookies para mejorar su experiencia. Esta Política de Cookies explica qué son las cookies, cómo las utilizamos y cómo puede gestionarlas.
    </p>
    
    <h2>
        2. ¿Qué son las cookies?
    </h2>
    <p>
        Las cookies son pequeños archivos de texto que se almacenan en su dispositivo cuando visita un sitio web. Nos ayudan a recordar sus preferencias y mejorar su experiencia de navegación.
    </p>
    
    <h2>
        3. Tipos de cookies que utilizamos
    </h2>
    <ul>
        <li>
            Cookies esenciales: necesarias para el funcionamiento del sitio.
        </li>
        <li>
            Cookies de rendimiento: recogen información sobre cómo usa nuestro sitio.
        </li>
        <li>
            Cookies de funcionalidad: recuerdan sus preferencias.
        </li>
        <li>
            Cookies de publicidad: utilizadas para ofrecer anuncios relevantes.
        </li>
    </ul>
    
    <h2>
        4. Cómo usamos las cookies
    </h2>
    <ul>
        <li>
            Recordar sus preferencias y configuración.
        </li>
        <li>
            Analizar el tráfico del sitio y mejorar su funcionamiento.
        </li>
    </ul>

    <h2>
        5. Gestión de cookies
    </h2>
    <p>
        Puede gestionar sus preferencias de cookies a través de la configuración de su navegador. Tenga en cuenta que deshabilitar las cookies puede afectar la funcionalidad del sitio.
    </p>
    
    <h2>
        6. Cambios en la política de cookies
    </h2>
    <p>
        Podemos actualizar esta Política de Cookies en cualquier momento. Le notificaremos sobre cualquier cambio mediante la publicación de la nueva política en nuestro sitio web.
    </p>
    
    <h2>
        7. Contacto
    </h2>
    <p>
        Para más información sobre nuestra política de cookies, contáctenos en <a href="mailto:info@derivarestaurant.com">info&#64;derivarestaurant.com</a>.
    </p>

</div>
