<div class="container">
    <div class="row">
        <div class="col">
            <h2>Registro</h2>
            <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
                <div class="form-group">
                    <label for="registerEmail">Correo electrónico</label>
                    <input type="email" class="form-control" id="registerEmail" formControlName="email" name="email">
                </div>
                <div class="form-group">
                    <label for="registerName">Nombre y apellidos</label>
                    <input type="text" class="form-control" id="registerName" formControlName="name" name="name">
                </div>
                <div class="form-group">
                    <label for="registerPhone">Teléfono</label>
                    <input type="text" class="form-control" id="registerPhone" formControlName="phone" name="phone">
                </div>
                <div class="form-group">
                    <label for="registerPassword">Contraseña</label>
                    <input type="password" class="form-control" id="registerPassword" formControlName="password" name="password">
                </div>
                <div class="form-group">
                    <label for="registerPassword2">Repite la contraseña</label>
                    <input type="password2" class="form-control" id="registerPassword2" formControlName="password2" name="password2">
                </div>
                
                <button type="submit" class="btn btn-primary">Registrarse</button>
            </form>
        </div>

        <div class="col">
            <h2>Iniciar sesión</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div class="form-group">
                    <label for="loginEmail">Correo electrónico</label>
                    <input type="email" class="form-control" id="loginEmail" formControlName="login-email" name="email">
                </div>
                <div class="form-group">
                    <label for="loginPassword">Contraseña</label>
                    <input type="password" class="form-control" id="loginPassword" formControlName="login-password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Iniciar sesión</button>
            </form>
        </div>
    </div>
  </div>