<div class="container">
    <h1>
        Condiciones de compra
    </h1>
    
    <h2>
        1. Introducción
    </h2>
    <p>
        Estas Condiciones de Compra rigen las compras realizadas en Deriva. Al realizar un pedido, acepta estos términos.
    </p>
    
    <h2>
        2. Pedido y aceptación
    </h2>
    <ul>
        <li>
            Los pedidos se realizan a través de nuestro sitio web.
        </li>
        <li>
            Recibirá una confirmación por correo electrónico una vez que su pedido haya sido aceptado.
        </li>
    </ul>
    
    <h2>
        3. Precios y pagos
    </h2>
    <ul>
        <li>
            Todos los precios incluyen impuestos aplicables.
        </li>
        <li>
            Aceptamos pago con tarjeta online o contrarreembolso con tarjeta o efectivo.
        </li>
    </ul>
    
    <h2>
        4. Entrega
    </h2>
    <ul>
        <li>
            Ofrecemos servicio de entrega a domicilio en [zona de entrega].
        </li>
        <li>
            El tiempo estimado de entrega se proporcionará al realizar el pedido.
        </li>
        <li>
            No somos responsables por retrasos causados por eventos fuera de nuestro control.
        </li>
    </ul>
    
    <h2>
        5. Cancelaciones y devoluciones
    </h2>
    <ul>
        <li>
            Puede cancelar su pedido dentro de los primeros 10 minutos después de realizarlo poniendose en contacto con el restaurante al que ha realizado el pedido.
        </li>
        <li>
            No aceptamos devoluciones de alimentos por razones de seguridad e higiene.
        </li>
    </ul>
    
    <h2>
        6. Política de reembolso
    </h2>
    <p>
        Los reembolsos se realizarán en el mismo método de pago utilizado para la compra.
    </p>
    
    <h2>
        7. Modificaciones de las condiciones
    </h2>
    <p>
        Nos reservamos el derecho de modificar estas Condiciones de Compra en cualquier momento. Las modificaciones serán efectivas a partir de su publicación en el sitio web.
    </p>
    
    <h2>
        8. Contacto
    </h2>
    <p>
        Para cualquier pregunta o inquietud sobre su pedido, contáctenos en <a href="mailto:info@derivarestaurant.com">info&#64;derivarestaurant.com</a>.
    </p>
</div>
