<section>
    <h2 mat-dialog-title>Mis datos</h2>
    <div class="container-fluid">
        <div class="row">
            <form  [formGroup]="pwdForm" (ngSubmit)="sendPwdForm()">
                <mat-dialog-content>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="registerPassword" formControlName="previousPassword" name="previousPassword" [class.is-invalid]="pwdForm.controls['previousPassword'].touched && pwdForm.controls['previousPassword'].invalid">
                        <label for="registerPassword">Contraseña actual</label>
                        <div class="invalid-feedback" *ngIf="pwdForm.controls['previousPassword'].invalid && pwdForm.controls['previousPassword'].touched">
                            <div *ngIf="pwdForm.controls['previousPassword'].errors?.['required']">Introduzca su contraseña actual</div>
                        </div>
                        <!--<div class="input-group-addon">
                            <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                        </div>-->
                    </div>

                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="registerPassword" formControlName="password" name="password" [class.is-invalid]="pwdForm.controls['password'].touched && pwdForm.controls['password'].invalid">
                        <label for="registerPassword">Nueva contraseña</label>
                        <div class="invalid-feedback" *ngIf="pwdForm.controls['password'].invalid && pwdForm.controls['password'].touched">
                            <div *ngIf="pwdForm.controls['password'].errors?.['required']">Introduzca una nueva contraseña</div>
                            <div *ngIf="pwdForm.controls['password'].errors?.['complexity']">La contraseña debe tener al menos 8 dígitos, una letra mayuscula, una minuscula, un número y un símbolo (!&#64;#$%^&*)</div>
                        </div>
                        <!--<div class="input-group-addon">
                            <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                        </div>-->
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="registerPassword2" formControlName="password2" name="password2" [class.is-invalid]="pwdForm.controls['password2'].touched && pwdForm.controls['password2'].invalid">
                        <label for="registerPassword2">Repite la contraseña</label>
                        <div class="invalid-feedback" *ngIf="pwdForm.controls['password2'].invalid && pwdForm.controls['password2'].touched">
                            <div *ngIf="pwdForm.controls['password2'].errors?.['required']">Debe repetir la contraseña</div>
                            <div *ngIf="pwdForm.controls['password2'].errors?.['mustMatch']">Las contraseñas no coinciden</div>
                        </div>
                        <!--<div class="input-group-addon">
                            <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                        </div>-->
                    </div>

                    <button class="btn btn-secondary" style="color: white;" mat-dialog-close (click)="showData()">Volver a mis datos</button>
                </mat-dialog-content>

                <mat-dialog-actions>
                    <button class="btn btn-outline-primary" mat-dialog-close>Cerrar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </mat-dialog-actions>
            </form>
        </div>
    </div>
</section>