<div class="search">
    <mat-form-field appearance="outline">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event, 'product')" placeholder="Introduzca algo para buscar" #input>
    </mat-form-field>
</div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="productSource" matSort>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
            <td mat-cell *matCellDef="let row" class="celd-id"> {{row.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let row" class="celd-email"> {{row.name}} </td>
        </ng-container>
        
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="celd-actions"> Acciones </th>
            <td mat-cell *matCellDef="let row" class="celd-actions">
                <button class="btn btn-secondary" (click)="showProduct(row)">
                    <i style="color: white;" class="fas fa-eye fa-xs"></i>
                </button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="productColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: productColumns;"></tr>
    
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No hay datos que mostrar "{{input.value}}"</td>
        </tr>
    </table>
 
    <mat-paginator #productPaginator="matPaginator" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Selecciona una página"></mat-paginator>
</div>