
<div class="container">
    <h1>
        Condiciones de uso
    </h1>
    
    <h2>
        1. Introducción
    </h2>
    <p>
        Estas Condiciones de Uso rigen el acceso y uso del sitio web de Deriva. Al utilizar nuestro sitio, acepta estos términos.
    </p>
    
    <h2>
        2. Uso del sitio
    </h2>
    <ul>
        <li>
            Debe ser mayor de edad y tener capacidad legal para utilizar nuestro sitio.
        </li>
        <li>
            Se compromete a proporcionar información veraz y actualizada.
        </li>
    </ul>
    
    <h2>
        3. Propiedad intelectual
    </h2>
    <p>
        Todo el contenido del sitio (textos, imágenes, logos) es propiedad de Deriva y está protegido por derechos de autor.
    </p>
    
    <h2>
        4. Conducta del usuario
    </h2>
    <ul>
        <li>
            No debe usar el sitio para actividades ilegales.
        </li>
        <li>
            No debe introducir virus o cualquier otro material dañino.
        </li>
    </ul>
    
    <h2>
        5. Limitación de responsabilidad
    </h2>
    <p>
        No somos responsables por daños directos o indirectos derivados del uso de nuestro sitio.
    </p>
    
    <h2>
        6. Enlaces a terceros
    </h2>
    <p>
        Nuestro sitio puede contener enlaces a sitios web de terceros. No somos responsables del contenido o prácticas de estos sitios.
    </p>
    
    <h2>
        7. Modificaciones de las condiciones
    </h2>
    <p>
        Podemos modificar estas Condiciones de Uso en cualquier momento. Las modificaciones serán efectivas desde su publicación en el sitio web.
    </p>
    
    <h2>
        8. Ley aplicable
    </h2>
    <p>
        Estas Condiciones de Uso se rigen por las leyes de España. Cualquier disputa será resuelta en los tribunales competentes de [jurisdicción].
    </p>

    <h2>
        9. Contacto
    </h2>
    <p>
        Para cualquier consulta sobre estas condiciones, contáctenos en <a href="mailto:info@derivarestaurant.com">info&#64;derivarestaurant.com</a>.
    </p>
</div>
