<div class="container">
    <h1>
        Política de privacidad
    </h1>
    
    <h2>
        1. Introducción
    </h2>
    <p>
        En Deriva nos comprometemos a proteger su privacidad. Esta Política de Privacidad explica cómo recopilamos, usamos, divulgamos y protegemos su información personal cuando visita nuestro sitio web y utiliza nuestros servicios de pedidos a domicilio.
    </p>
    
    <h2>
        2. Información que recopilamos
    </h2>
    <ul>
        <li>
            Datos personales: nombre, dirección, número de teléfono, correo electrónico.
        </li>
        <li>
            Datos de pago: información de tarjetas de crédito o débito.
        </li>
        <li>
            Información de uso: historial de pedidos, preferencias culinarias, y datos de navegación en nuestro sitio web.
        </li>
    </ul>
    
    <h2>
        3. Cómo usamos su información
    </h2>
    <ul>
        <li>
            Procesar y gestionar sus pedidos.
        </li>
        <li>
            Mejorar nuestro sitio web y servicios.
        </li>
        <li>
            Comunicarnos con usted sobre su pedido y ofertas promocionales.
        </li>
        <li>
            Cumplir con obligaciones legales.
        </li>
    </ul>
    
    <h2>
        4. Compartición de información
    </h2>
    <p>
        No compartimos su información personal con terceros, salvo para procesar pagos, cumplir con sus pedidos, o cuando sea requerido por la ley.
    </p>
    
    <h2>
        5. Seguridad de la información
    </h2>
    <p>
        Implementamos medidas de seguridad técnicas y organizativas para proteger su información contra accesos no autorizados, pérdida o destrucción.
    </p>
    
    <h2>
        6. Sus derechos
    </h2>
    <p>
        Usted tiene derecho a acceder, rectificar o eliminar sus datos personales. Para ejercer estos derechos, por favor contáctenos a <a href="mailto:info@derivarestaurant.com">info&#64;derivarestaurant.com</a>.
    </p>
    
    <h2>
        7. Cambios en la política de privacidad
    </h2>
    <p>
        Nos reservamos el derecho de modificar esta Política de Privacidad en cualquier momento. Cualquier cambio será publicado en esta página.
    </p>
    
    <h2>
        8. Contacto
    </h2>
    <p>
        Para cualquier pregunta o inquietud sobre nuestra Política de Privacidad, contáctenos en <a href="mailto:info@derivarestaurant.com">info&#64;derivarestaurant.com</a>.
    </p>
</div>
