<div class="container-fluid">
    <div class="banner">
        <div class="transparency">
            <h1>Te llevamos tu comida de siempre a la puerta de tu casa.</h1>
            <button class="btn btn-primary header" routerLink="/menu/order">Hacer pedido</button>
        </div>
    </div>

    <div class="flex">
        <div class="container row">
            <div class="col-4">
                <img id="img-1" src="assets/img/meal2.png" alt="Plato de comida">
            </div>
            <div class="col-8 text">
                <h5>¡Bienvenido a Deriva, tu mejor opción para disfrutar de comida sana y deliciosa en la comodidad de tu hogar! Nuestros chefs preparan cada plato con ingredientes frescos y de la más alta calidad, garantizando una experiencia culinaria que nutre tanto tu cuerpo como tu espíritu.</h5>
            </div>
        </div>
    </div>

    <div class="grey flex">
        <div class="container row">
            <div class="col-8 text">
                <h5>En Deriva, creemos que comer saludable no tiene por qué ser aburrido. Nuestro menú variado incluye una amplia gama de opciones, desde ensaladas vibrantes hasta platos calientes llenos de sabor, todos diseñados para satisfacer tu paladar y tus necesidades nutricionales.</h5>
            </div>
            <div class="col-4">
                <img id="img-2" src="assets/img/meal1.png" alt="Plato de comida">
            </div>
        </div>
    </div>

    <div class="flex">
        <div class="container row">
            <div class="col-4">
                <img id="img-3" src="assets/img/delivery.png" alt="Ilustración de envío">
            </div>
            <div class="col-8 text">
                <h5>Nos comprometemos a ofrecerte una entrega rápida y eficiente, para que puedas disfrutar de nuestras deliciosas creaciones sin salir de casa. Únete a nuestra comunidad de amantes de la buena comida y descubre cómo la alimentación saludable puede ser fácil y accesible con Deriva. ¡Haz tu pedido hoy mismo!</h5>
            </div>
        </div>
    </div>

    <div class="call flex">
        <div class="container row">
            <div class="col-8">
                <h5>¡Haz tu pedido hoy y disfruta de la auténtica cocina española saludable desde la comodidad de tu hogar!</h5>
                <p>En Deriva, llevamos lo mejor de nuestros platos directamente a tu puerta. ¿Listo para una experiencia culinaria única? Pide ahora y déjate sorprender por nuestros sabores frescos y deliciosos!</p>
            </div>
            <div class="col-4 text-end">
                <button class="call-btn" routerLink="/menu/order">HACER AHORA TU PEDIDO</button>
            </div>
        </div>
    </div>
</div>