<div class="container-fluid">
    <div class="banner">
        <div class="transparency">
        </div>
    </div>

    <div class="flex">
        <div class="container row">
            <div class="col-8">
                <h3>Texto llamada</h3>
                <p>Subtexto llamada</p>
            </div>
            <div class="col-4">
                <img src="" alt="">
            </div>
        </div>
    </div>

    <div class="grey flex">
        <div class="container row">
            <div class="col-4">
                <img src="" alt="">
            </div>
            <div class="col-8">
                <h3>Texto llamada</h3>
                <p>Subtexto llamada</p>
            </div>
        </div>
    </div>

    <div class="flex">
        <div class="container row">
            <div class="col-8">
                <h3>Texto llamada</h3>
                <p>Subtexto llamada</p>
            </div>
            <div class="col-4">
                <img src="" alt="">
            </div>
        </div>
    </div>

    <div class="call flex">
        <div class="container row">
            <div class="col-8">
                <h5>¡Haz tu pedido hoy y disfruta de la auténtica cocina española saludable desde la comodidad de tu hogar!</h5>
                <p>En Deriva, llevamos lo mejor de nuestros platos directamente a tu puerta. ¿Listo para una experiencia culinaria única? Pide ahora y déjate sorprender por nuestros sabores frescos y deliciosos!</p>
            </div>
            <div class="col-4 text-end">
                <button class="call-btn" routerLink="/menu/order">HACER AHORA TU PEDIDO</button>
            </div>
        </div>
    </div>
</div>