.container {
    min-height: 85vh;
}

.nav-tabs {
    margin-top: 3em;
}

.search {
    margin: 2em 0;
    display: flex;
    gap: 1em;
    align-items: start;
}

td:last-child, th:last-child {
    text-align: center;
    left: 0px;
    width: 10%;
    min-width: fit-content;

    button:last-child {
        margin-left: 0.5em;
    }
}

mat-form-field {
    width: 100%;
}

.add {
    width: 60px;
    height: 60px;
}