<div class="container">
    <h1 class="text-center">Panel de administración</h1>
    
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [class.active]="selectedTab === 'clients'" (click)="selectedTab = 'clients'">Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="selectedTab === 'employees'" (click)="selectedTab = 'employees'">Empleados</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="selectedTab === 'products'" (click)="selectedTab = 'products'">Productos</a>
      </li>
    </ul>
  
    <div class="tab-content">
        <div *ngIf="selectedTab === 'clients'" class="tab-pane fade show active">
            <app-user-admin-table></app-user-admin-table>
        </div>
  
        <div *ngIf="selectedTab === 'employees'" class="tab-pane fade show active">
            <app-employee-admin-table></app-employee-admin-table>            
        </div>

        <div *ngIf="selectedTab === 'products'" class="tab-pane fade show active">
            <app-prodct-admin-table></app-prodct-admin-table>
        </div>
    </div>
  </div>